/* tag selectors */
html {
	height: 100%;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	background-color: #181818;
	color: #FAF9F6;
	height: 100%;
}

section {
	padding-bottom: 1%;
}

ul {
	list-style: none;
}

li {
	padding: 2% 0 2% 0;
	margin: 2% 0 2% 0;
	display: inline;
}

hr {
	visibility: hidden;
	margin: 2% 0 2% 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #C3B1E1;
}

/* class selectors */
.container-fluid {
	padding-left: 10%;
	margin: 5% 0 5% 0;
}

.download-resume {
	opacity: .85;
	cursor: pointer;
}

.download-resume:hover {
	opacity: .5;
}

.project-heading {
	margin: 4% 0 4% 0;
}

.project-item {

}

.project-description {
	padding-left: 1rem;
	margin-right: 20%;
}

.project-link {
	color: #C3B1E1;
}

.project-link:hover {
	text-decoration: underline;
	color: #8F00FF;
}

.aboutme-description {
	margin-right: 20%;
}

.aboutme-click {
	margin-right: 20%;
}

.aboutme-click:hover {
	color: #C3B1E1;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.left {
  text-align: left;
  margin-left: 1em;
}

/* animation */
.css-selector {
    background: linear-gradient(37deg, #181818, #210f83, #35005a, #FFFFFF);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 3.5s ease infinite;
    -moz-animation: AnimationName 3.5s ease infinite;
    -o-animation: AnimationName 3.5s ease infinite;
    animation: AnimationName 3.5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:86% 5%}
    50%{background-position:5% 90%}
    100%{background-position:86% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:86% 5%}
    50%{background-position:5% 90%}
    100%{background-position:86% 5%}
}
@-o-keyframes AnimationName {
    0%{background-position:86% 5%}
    50%{background-position:5% 90%}
    100%{background-position:86% 5%}
}
@keyframes AnimationName {
    0%{background-position:86% 5%}
    50%{background-position:5% 90%}
    100%{background-position:86% 5%}
}